form{
   
    margin: 40px;
   
    padding: 100px;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
}
.S1{
  
    font-family: 'Ms Madi', cursive;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding: 20px;
}